extends layout

block content
  h1= title
  - var images_names = ["USA.jpg","India.jpg","China.jpg","UnitedKingdom.jpg","Australia.jpg"]
    - for(let i=0;i<3;i++){
        - let random = Math.floor(Math.random()*5);
            img(src=`/images/${images_names[random]}` alt="images" height="300" width="300")
    -}